// 
// _card.scss
// 

.card {
  box-shadow: $box-shadow-sm;
  margin-bottom: $grid-gutter-width;
}

.card-title {
  font-size: 1rem;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    border-left: 2px solid $primary;
    border-bottom: 0;
    margin-left: -20px;
  }
}

.card-subtitle {
  color: $gray-600;
}